<p-panel header="Pipes Númericos" class="p-1">
  <p>
    Pipes inlcuídos en Angular- Usualmente en el Common Module
  </p>
</p-panel>

<div class="grid mt-2">

  <div class="col-12 md:col-4">
    <p-card header="Ventas netas" subheader="de este año">
      {{ totalSells + 1364 | number:'1.2-2'}}
    </p-card>
  </div>

  <div class="col-12 md:col-4">
    <p-card header="Ventas Brutas" subheader="de este año">
      {{ totalSells | currency:'MXN':'symbol-narrow':'1.4-4'}}
    </p-card>
  </div>

  <div class="col-12 md:col-4">
    <p-card header="Ganancia porcentual" subheader="de este año">
      {{ percent | percent:'1.2-2' }}
    </p-card>
  </div>

</div>
